@mixin button-colors($color) {
  background-color: var(--#{$color});
  color: var(--#{$color}-text);

  &:focus:not(:active),
  &.is-focused:not(:active) {
    box-shadow: var(--#{$color}-focus-shadow);
  }

  &:hover,
  &.is-hovered {
    background-color: var(--#{$color}-hover);
  }
  &:active,
  &.is-active {
    background-color: var(--#{$color}-active);
  }
  &[disabled] {
   background-color: var(--#{$color});
  }
  &[disabled]:hover {
    background-color: var(--#{$color});
  }
  &.is-inverted {
    background-color: var(--#{$color}-text);
    color: var(--#{$color});
  }
  &.is-inverted:hover {
    background-color: var(--#{$color}-text-dark);
  }
  &.is-outlined {
    background-color: transparent;
    color: var(--#{$color});
  }
  &.is-inverted.is-outlined {
    background-color: transparent;
    color: var(--#{$color}-text);
  }
  &.is-light {
    background-color: var(--#{$color}-light);
    color: var(--#{$color}-dark);
  }
}

body {
  --button-border-color: var(--border);
  --button-padding-vertical: calc(.5em - 1px);
  --button-padding-horizontal: 1em;
  --button-focus-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  --button-text-color: var(--text);
  --button-text-hover-background-color: var(--background);
  --button-text-hover-color: var(--text-strong);
  --button-disabled-background-color: var(--scheme-main);
  --button-disabled-border-color: var(--border);
  --button-disabled-opacity: 0.5;
  --button-static-color: var(--text-light);
  --button-static-background-color: var(--sceme-main-ter);
  --button-static-border-color: var(--border);
  --button-focus-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
.button {
  border-color: var(--button-border-color);
  padding-left: var(--button-padding-horizontal);
  padding-right: var(--button-padding-horizontal);
  color: var(--button-text-color);

  &:focus:not(:active),
  &.is-focused:not(:active) {
    box-shadow: var(--button-focus-shadow);
  }
}
.button.is-static {
  color: var(--button-static-color);
  background-color: var(--button-static-background-color);
  border-color: var(--button-static-border-color);
}
.button:focus {
  box-shadow: var(--button-focus-box-shadow);
}
.button.is-text:hover {
  background-color: var(--button-text-hover-background-color);
  color: var(--button-text-hover-color);
}
.button[disabled] {
  background-color: var(--button-disabled-background-color);
  border-color: var(--button-disabled-border-color);
}
.button.is-primary {
  @include button-colors("primary");
}
.button.is-warning {
  @include button-colors("warning");
}
.button.is-info {
  @include button-colors("info");
}
.button.is-success {
  @include button-colors("success");
}
.button.is-danger {
  @include button-colors("danger");
}
.button.is-link {
  @include button-colors("link");
}
okt-button.is-fullwidth {
  width: 100%;
}
