$text-strong: var(--text-strong);
$scheme-main: var(--scheme-main);
$control-border-width: var(--control-border-width);
$link-hover: var(--link-default-hover);
$link-hover-border: var(--link-hover-border);
$link-focus: var(--link-focus);
$link-focus-border: var(--link-focus-border);
$link-active: var(--link-default-active);
$link-active-border: var(--link-active-border);
$notification-padding: var(--notification-padding);
$radius: var(--radius);
$radius-large: var(--radius-large);

$button-padding-vertical: var(--button-padding-vertical);
$button-disabled-opacity: var(--button-disabled-opacity);
$text-light: var(--text-light);

$notification-background-color: var(--notification-background-color, var(--background));
$notification-code-background-color: var(--notification-code-background-color, var(--scheme-main));
$notification-radius: var(--notification-radius, var(--radius));

$content-heading-color: var(--content-heading-color);
$content-heading-weight: var(--content-heading-weight);
$content-heading-line-height: var(--content-heading-line-height);
$content-blockquote-background-color: var(--content-blockquote-background-color);
$content-blockquote-border-left: var(--content-blockquote-border-left);
$content-blockquote-padding: var(--content-blockquote-padding);
$content-pre-padding: var(--content-pre-padding);
$content-table-cell-border: var(--content-table-cell-border);
$content-table-cell-border-width: var(--content-table-cell-border-width);
$content-table-cell-padding: var(--content-table-cell-padding);
$content-table-cell-heading-color: var(--content-table-cell-heading-color);
$content-table-head-cell-border-width: var(--content-table-head-cell-border-width);
$content-table-head-cell-color: var(--content-table-head-cell-color);
$content-table-foot-cell-border-width: var(--content-table-foot-cell-border-width);
$content-table-foot-cell-color:var(--content-table-foot-cell-color);

@import 'node_modules/bulma/bulma.sass';

body {
  --text-strong: hsl(0, 0%, 21%);
  --scheme-main: hsl(0, 0%, 100%);
  --control-border-width: 1px;
  --link--default-hover: hsl(0, 0%, 21%);
  --link-hover-border: hsl(0, 0%, 71%);
  --link-focus: hsl(0, 0%, 21%);
  --link-focus-border: hsl(217, 71%, 53%);
  --link-default-active: hsl(0, 0%, 21%);
  --link-active-border: hsl(0, 0%, 29%);
  --text: hsl(0, 0%, 29%);
  --background: hsl(0, 0%, 96%);
  --border: hsl(0, 0%, 86%);
  --text-light: hsl(0, 0%, 48%);
  --scheme-main-ter: hsl(0, 0%, 96%);
  --radius: 4px;
  --radius-large: 6px;

  --content-heading-color: var(--text-strong);
  --content-heading-weight: var(--weight-semibold);
  --content-heading-line-height: 1.125;
  --content-blockquote-background-color: var(--background);
  --content-blockquote-border-left: 5px solid #dbdbdb;
  --content-blockquote-padding: 1.25em 1.5em;
  --content-pre-padding: 1.25em 1.5em;
  --content-table-cell-border: 1px solid hsl(0, 0%, 86%);
  --content-table-cell-border-width: 0 0 1px;
  --content-table-cell-padding: 0.5em 0.75em;
  --content-table-cell-heading-color: var(--text-strong);
  --content-table-head-cell-border-width: 0 0 2px;
  --content-table-head-cell-color: var(--text-strong);
  --content-table-foot-cell-border-width: 2px 0 0;
  --content-table-foot-cell-color: var(--text-strong);

  --primary: #{$primary};
  --primary-dark: #{$primary-dark};
  --primary-light: #ebfffc;
  --primary-hover: #00c4a7;
  --primary-active: #00b89c;
  --primary-text: white;
  --primary-text-dark: #efefef;
  --primary-focus-shadow: 0 0 0 0.125em rgba(0,209,178,.25);

  --warning: #{$warning};
  --warning-dark: #{$warning-dark};
  --warning-light: #fffbeb;
  --warning-hover: #ffdb4a;
  --warning-active: #ffd83d;
  --warning-text: rgba(0,0,0,.7);
  --warning-text-dark: #efefef;
  --warning-focus-shadow: 0 0 0 0.125em rgba(255,221,87,.25);

  --success: #{$success};
  --success-dark: #{$success-dark};
  --success-light: #effaf3;
  --success-hover: #3ec46d;
  --success-active: #3abb67;
  --success-text: white;
  --success-text-dark: #efefef;
  --success-focus-shadow: 0 0 0 0.125em rgba(72,199,116,.25);

  --info: #{$info};
  --info-dark: #{$info-dark};
  --info-light: #eef6fc;
  --info-hover: #2793da;
  --info-active: #238cd1;
  --info-text: white;
  --info-text-dark: #efefef;
  --info-focus-shadow: 0 0 0 0.125em rgba(50,152,220,.25);

  --danger: #{$danger};
  --danger-dark: #{$danger-dark};
  --danger-light: #feecf0;
  --danger-hover: #f03a5f;
  --danger-active: #ef2e55;
  --danger-text: white;
  --danger-text-dark: #efefef;
  --danger-focus-shadow: 0 0 0 0.125em rgba(241,70,104,.25);

  --link: #{$link};
  --link-dark: #{$link-dark};
  --link-light: #eef3fc;
  --link-hover: #276cda;
  --link-active: #2366d1;
  --link-text: white;
  --link-text-dark: #efefef;
  --link-focus-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
}

pre {
  padding: 0 1rem;
}