$text-strong: var(--text-strong);
$scheme-main: var(--scheme-main);
$control-border-width: var(--control-border-width);
$link-hover: var(--link-default-hover);
$link-hover-border: var(--link-hover-border);
$link-focus: var(--link-focus);
$link-focus-border: var(--link-focus-border);
$link-active: var(--link-default-active);
$link-active-border: var(--link-active-border);
$notification-padding: var(--notification-padding);
$radius: var(--radius);
$radius-large: var(--radius-large);
$border-light: var(--border-light);
$radius-rounded: var(--radius-rounded);
$block-spacing: var(--block-spacing);

$button-padding-vertical: var(--button-padding-vertical);
$button-disabled-opacity: var(--button-disabled-opacity);
$text-light: var(--text-light);

$notification-background-color: var(--notification-background-color, var(--background));
$notification-code-background-color: var(--notification-code-background-color, var(--scheme-main));
$notification-radius: var(--notification-radius, var(--radius));

$content-heading-color: var(--content-heading-color);
$content-heading-weight: var(--content-heading-weight);
$content-heading-line-height: var(--content-heading-line-height);
$content-blockquote-background-color: var(--content-blockquote-background-color);
$content-blockquote-border-left: var(--content-blockquote-border-left);
$content-blockquote-padding: var(--content-blockquote-padding);
$content-pre-padding: var(--content-pre-padding);
$content-table-cell-border: var(--content-table-cell-border);
$content-table-cell-border-width: var(--content-table-cell-border-width);
$content-table-cell-padding: var(--content-table-cell-padding);
$content-table-cell-heading-color: var(--content-table-cell-heading-color);
$content-table-head-cell-border-width: var(--content-table-head-cell-border-width);
$content-table-head-cell-color: var(--content-table-head-cell-color);
$content-table-foot-cell-border-width: var(--content-table-foot-cell-border-width);
$content-table-foot-cell-color:var(--content-table-foot-cell-color);

$icon-dimensions: var(--icon-dimensions);
$icon-dimensions-small: var(--icon-dimensions-small);
$icon-dimensions-medium: var(--icon-dimensions-medium);
$icon-dimensions-large: var(--icon-dimensions-large);

$progress-bar-background-color: var(--progress-bar-background-color);
$progress-value-background-color: var(--progress-value-background-color);
$progress-border-radius: var(--progress-border-radius);
$progress-indeterminate-duration: var(--progress-indeterminate-duration);

$table-color: var(--table-color);
$table-background-color: var(--table-background-color);
$table-cell-border: var(--table-cell-border);
$table-cell-border-width: var(--table-cell-border-width);
$table-cell-padding: var(--table-cell-padding);
$table-cell-heading-color: var(--table-cell-heading-color);
$table-head-cell-border-width: var(--table-head-cell-border-width);
$table-head-cell-color: var(--table-head-cell-color);
$table-foot-cell-border-width: var(--table-foot-cell-border-width);
$table-foot-cell-color: var(--table-foot-cell-color);
$table-head-background-color: var(--table-head-background-color);
$table-body-background-color: var(--table-body-background-color);
$table-foot-background-color: var(--table-foot-background-color);
$table-row-hover-background-color: var(--table-row-hover-background-color);
$table-row-active-background-color: var(--table-row-active-background-color);
$table-row-active-color: var(--table-row-active-color);
$table-striped-row-even-background-color: var(--table-striped-row-even-background-color);
$table-striped-row-even-hover-background-color: var(--table-striped-row-even-hover-background-color);

$tag-color: var(--tag-color);
$tag-radius: var(--tag-radius);
$tag-delete-margin: var(--tag-delete-margin);

$breadcrumb-item-color: var(--breadcrumb-item-color);
$breadcrumb-item-hover-color: var(--breadcrumb-item-hover-color);
$breadcrumb-item-active-color: var(--breadcrumb-item-active-color);
$breadcrumb-item-padding-vertical: var(--breadcrumb-item-padding-vertical);
$breadcrumb-item-padding-horizontal: var(--breadcrumb-item-padding-horizontal);
$breadcrumb-item-separator-color: var(--breadcrumb-item-separator-color);

$card-color: var(--card-color);
$card-background-color: var(--card-background-color);
$card-shadow: var(--card-shadow);
$card-header-background-color: var(--card-header-background-color);
$card-header-color: var(--card-header-color);
$card-header-padding: var(--card-header-padding);
$card-header-shadow: var(--card-header-shadow);
$card-header-weight: var(--card-header-weight);
$card-content-background-color: var(--card-content-background-color);
$card-content-padding: var(--card-content-padding);
$card-footer-background-color: var(--card-footer-background-color);
$card-footer-border-top: var(--card-footer-border-top);
$card-footer-padding: var(--card-footer-padding);
$card-media-margin: var(--card-media-margin);

$dropdown-menu-min-width: var(--dropdown-menu-min-width);
$dropdown-content-background-color: var(--dropdown-content-background-color);
$dropdown-content-arrow: var(--dropdown-content-arrow);
$dropdown-content-offset: var(--dropdown-content-offset);
$dropdown-content-padding-bottom: var(--dropdown-content-padding-bottom);
$dropdown-content-padding-top: var(--dropdown-content-padding-top);
$dropdown-content-radius: var(--dropdown-content-radius);
$dropdown-content-shadow: var(--dropdown-content-shadow);
$dropdown-content-z: var(--dropdown-content-z);
$dropdown-item-color: var(--dropdown-item-color);
$dropdown-item-hover-color: var(--dropdown-item-hover-color);
$dropdown-item-hover-background-color: var(--dropdown-item-hover-background-color);
$dropdown-item-active-color: var(--dropdown-item-active-color);
$dropdown-item-active-background-color: var(--dropdown-item-active-background-color);
$dropdown-divider-background-color: var(--dropdown-divider-background-color);

@import 'node_modules/bulma/bulma.sass';

body {
  --weight-semibold: 600;
  --weight-bold: 700;
  --text-strong: hsl(0, 0%, 21%);
  --scheme-main: hsl(0, 0%, 100%);
  --scheme-invert: hsl(0, 0%, 4%);
  --control-border-width: 1px;
  --border-light: hsl(0, 0%, 93%);
  --border-hover: hsl(0, 0%, 71%);
  --link--default-hover: hsl(0, 0%, 21%);
  --link-hover-border: hsl(0, 0%, 71%);
  --link-focus: hsl(0, 0%, 21%);
  --link-focus-border: hsl(217, 71%, 53%);
  --link-default-active: hsl(0, 0%, 21%);
  --link-active-border: hsl(0, 0%, 29%);
  --text: hsl(0, 0%, 29%);
  --background: hsl(0, 0%, 96%);
  --border: hsl(0, 0%, 86%);
  --text-light: hsl(0, 0%, 48%);
  --scheme-main-ter: hsl(0, 0%, 96%);
  --radius: 4px;
  --radius-rounded: 290486px;
  --radius-large: 6px;
  --scheme-main-bis: hsl(0, 0%, 98%);
  --block-spacing: 1.5rem;

  --content-heading-color: var(--text-strong);
  --content-heading-weight: var(--weight-semibold);
  --content-heading-line-height: 1.125;
  --content-blockquote-background-color: var(--background);
  --content-blockquote-border-left: 5px solid #dbdbdb;
  --content-blockquote-padding: 1.25em 1.5em;
  --content-pre-padding: 1.25em 1.5em;
  --content-table-cell-border: 1px solid hsl(0, 0%, 86%);
  --content-table-cell-border-width: 0 0 1px;
  --content-table-cell-padding: 0.5em 0.75em;
  --content-table-cell-heading-color: var(--text-strong);
  --content-table-head-cell-border-width: 0 0 2px;
  --content-table-head-cell-color: var(--text-strong);
  --content-table-foot-cell-border-width: 2px 0 0;
  --content-table-foot-cell-color: var(--text-strong);

  --icon-dimensions: 1.5rem;
  --icon-dimensions-small: 1rem;
  --icon-dimensions-medium: 2rem;
  --icon-dimensions-large: 3rem;

  --progress-bar-background-color: var(--border-light);
  --progress-value-background-color: var(--text);
  --progress-border-radius: var(--radius-rounded);
  --progress-indeterminate-duration: 1.5s;

  --table-color: var(--text-strong);
  --table-background-color: var(--scheme-main);
  --table-cell-border: 1px solid hsl(0, 0%, 86%);
  --table-cell-border-width: 0 0 1px;
  --table-cell-padding: 0.5em 0.75em;
  --table-cell-heading-color: var(--text-strong);
  --table-head-cell-border-width: 0 0 2px;
  --table-head-cell-color: var(--text-strong);
  --table-foot-cell-border-width: 2px 0 0;
  --table-foot-cell-color: var(--text-strong);
  --table-head-background-color: transparent;
  --table-body-background-color: transparent;
  --table-foot-background-color: transparent;
  --table-row-hover-background-color: var(--scheme-main-bis);
  --table-row-active-background-color: var(--primary);
  --table-row-active-color: var(--primary-text);
  --table-striped-row-even-background-color: var(--scheme-main-bis);
  --table-striped-row-even-hover-background-color: var(--scheme-main-ter);

  --tag-background-color: var(--background);
  --tag-color: var(--text);
  --tag-radius: var(--radius);
  --tag-delete-margin: 1px;

  --breadcrumb-item-color: var(--link);
  --breadcrumb-item-hover-color: var(--link-hover);
  --breadcrumb-item-active-color: var(--text-strong);
  --breadcrumb-item-padding-vertical: 0;
  --breadcrumb-item-padding-horizontal: 0.75em;
  --breadcrumb-item-separator-color: var(--border-hover);

  --card-color: var(--text);
  --card-background-color: var(--scheme-main);
  --card-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  --card-header-background-color: transparent;
  --card-header-color: var(--text-strong);
  --card-header-padding: 0.75rem 1rem;
  --card-header-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  --card-header-weight: var(--weight-bold);
  --card-content-background-color: transparent;
  --card-content-padding: 1.5rem;
  --card-footer-background-color: transparent;
  --card-footer-border-top: 1px solid hsl(0, 0%, 93%);
  --card-footer-padding: 0.75rem;
  --card-media-margin: var(----block-spacing);

  --dropdown-menu-min-width: 12rem;
  --dropdown-content-background-color: var(--scheme-main);
  --dropdown-content-arrow: var(--link);
  --dropdown-content-offset: 4px;
  --dropdown-content-padding-bottom: 0.5rem;
  --dropdown-content-padding-top: 0.5rem;
  --dropdown-content-radius: var(--radius);
  --dropdown-content-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  --dropdown-content-z: 20;
  --dropdown-item-color: var(--text);
  --dropdown-item-hover-color: var(--scheme-invert);
  --dropdown-item-hover-background-color: var(--background);
  --dropdown-item-active-color: var(--link-text);
  --dropdown-item-active-background-color: var(--link);
  --dropdown-divider-background-color: var(--border-light);

  --primary: #{$primary};
  --primary-dark: #{$primary-dark};
  --primary-light: #ebfffc;
  --primary-hover: #00c4a7;
  --primary-active: #00b89c;
  --primary-text: white;
  --primary-text-dark: #efefef;
  --primary-focus-shadow: 0 0 0 0.125em rgba(0,209,178,.25);

  --warning: #{$warning};
  --warning-dark: #{$warning-dark};
  --warning-light: #fffbeb;
  --warning-hover: #ffdb4a;
  --warning-active: #ffd83d;
  --warning-text: rgba(0,0,0,.7);
  --warning-text-dark: #efefef;
  --warning-focus-shadow: 0 0 0 0.125em rgba(255,221,87,.25);

  --success: #{$success};
  --success-dark: #{$success-dark};
  --success-light: #effaf3;
  --success-hover: #3ec46d;
  --success-active: #3abb67;
  --success-text: white;
  --success-text-dark: #efefef;
  --success-focus-shadow: 0 0 0 0.125em rgba(72,199,116,.25);

  --info: #{$info};
  --info-dark: #{$info-dark};
  --info-light: #eef6fc;
  --info-hover: #2793da;
  --info-active: #238cd1;
  --info-text: white;
  --info-text-dark: #efefef;
  --info-focus-shadow: 0 0 0 0.125em rgba(50,152,220,.25);

  --danger: #{$danger};
  --danger-dark: #{$danger-dark};
  --danger-light: #feecf0;
  --danger-hover: #f03a5f;
  --danger-active: #ef2e55;
  --danger-text: white;
  --danger-text-dark: #efefef;
  --danger-focus-shadow: 0 0 0 0.125em rgba(241,70,104,.25);

  --link: #{$link};
  --link-dark: #{$link-dark};
  --link-light: #eef3fc;
  --link-hover: #276cda;
  --link-active: #2366d1;
  --link-text: white;
  --link-text-dark: #efefef;
  --link-focus-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
}

pre {
  padding: 0 1rem;
}