.navbar-start>div,
.navbar-end>div {
  display: inherit;
}

.navbar {
  // box-shadow: var(--navbar-box-shadow);
}
@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(10,10,10,.1);
    padding: .5rem 0;
  }
}

@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
    display: block;
  }
}